<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-default">
    <div style="background:#333333" class="container-fluid">
        <div class="navbar-header">
            <a style="color: white" class="navbar-brand" th:href="@{/admin}"
               th:text="${info.getUsername() + ' with roles : ' + info.getAuthorities()}">VALUE</a>
        </div>
        <div class="text-right">
            <ul class="nav navbar-nav navbar-right">
                <li><a style="color: grey" th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
<form th:method="POST" th:action="@{/admin/users}" th:object="${user}">
    <table class="table">
        <tr><th>
    <label for="username">Enter username:</label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/></th><th>
    <label for="name">Enter name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/></th><th>
    <label for="age">Enter age:</label>
    <input type="number" th:field="*{age}" id="age"/>
    <br/></th><th>
    <label for="password">Enter password:</label>
    <input type="password" th:field="*{password}" id="password"/>
    <br/></th><th>
            <label>Enter role</label>
    <select name="roles" class="form-select" required multiple size="2">
        <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.roleName}"></option>
    </select></th></tr></table>
    <br/>
    <input class="btn btn-success" type="submit" value="Create"/>
</form></div>
</body>
</html>